doctype html
html(lang="en")
  head
    title test
  body
    h1 Jade - node template engine
    #container
         Get on it!
         Get on it!
         Get on it!
         Get on it!
    img(src="/static/test.png")
